body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
p {
  color: red;
  text-align: center;
}
#income {
  text-align: center;
}